.menucontainer {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
}

.logoimg {
    height: 100%;
    width: auto;
}

.itemcontainer {
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: grey
}
